{% extends "layout.twig" %}

{% block content %}


    <div class="pb-24 pt-44">
        <div class="container">
            <div class="bg-[#FFFFFF] p-10 rounded-xl">
                
                 <div class="grid lg:grid-cols-7 gap-2">
                    <section>
                        <div>Lundi</div>
                        <ul class="relative h-[600px]">
                            <li>
                                <div class="bg-pink p-5">Cours 1</div>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <div>Mardi</div>
                        <ul class="relative h-[600px]">
                            <li>
                                <div class="bg-pink p-5">Cours 1</div>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <div>Mercredi</div>
                        <ul class="relative h-[600px]">
                            <li>
                                <div class="bg-pink p-5">Cours 1</div>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <div>Jeudi</div>
                        <ul class="relative h-[600px]">
                            <li>
                                <div class="bg-pink p-5 h-[100px] absolute w-full top-1/2">Cours 1</div>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <div>Vendredi</div>
                        <ul class="relative h-[600px]">
                            <li>
                                <div class="bg-pink p-5">Cours 1</div>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <div>Samedi</div>
                        <ul class="relative h-[600px]">
                            <li>
                                <div class="bg-pink p-5">Cours 1</div>
                            </li>
                        </ul>
                    </section>
                    <section>
                        <div>Dimanche</div>
                        <ul class="relative h-[600px]">
                            <li>
                                <div class="bg-pink p-5">Cours 1</div>
                            </li>
                        </ul>
                    </section>
                 </div>   
        
            </div>
        </div>
    </div>
    
{% endblock %}
