::selection {
	@apply bg-terracotta text-white;
}

body {
	@apply bg-white text-black font-serif text-body-m leading-[1.41];

	&.admin-bar {
		.site-header {
			top: 46px;

			@media screen and (min-width: 783px) {
				top: 32px;
			}
		}
	}
}

.container {
	@apply max-w-screen-2xl;
}

a {
	@apply transition-colors duration-200;
}

.mask-section-footer:before {
	content: "";
	@apply absolute w-full h-[5%] sm:h-[18%] top-0 left-0;
	background: url("../../images/mask-footer.svg") no-repeat center center;
	background-size: cover;
}
