body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-variation-settings: "wght" 200, "opsz" 500;

	@apply font-serif;
}

.font-sans {
	font-variation-settings: "wdth" 87, "wght" 300;
}

.font-serif {
	font-variation-settings: "wght" 200, "opsz" 500;
}

.font-titling-subhead {
	font-variation-settings: "opsz" 0, "wght" 200;
}

.font-titling-headline {
	font-variation-settings: "opsz" 400, "wght" 400;
}

.font-titling-display {
	font-variation-settings: "opsz" 750, "wght" 400;
}

.enriched-text {
	p:not(:last-child),
	ul:not(:last-child) {
		@apply pb-6;
	}

	a {
		@apply underline hover:no-underline;
	}

	li {
		@apply list-disc ml-4 pb-2;
	}

	h2,
	h3 {
		@apply text-body-xl font-titling-subhead pt-6 pb-2;
	}
}
