<header v-scope="Menu()" @vue:mounted="scrollEvent($el)" class="py-4 lg:py-3 site-header fixed w-full z-50 transition-colors duration-500" :class="[menuIsScrolling ? 'bg-white' : 'bg-transparent']">
    <div class="container flex justify-between items-center gap-4">
        {# Logo #}
        <a href="{{site.url}}">
            <img 
                class="w-52 lg:w-[22rem] relative z-20 transition-all duration-500" 
                :class="{'lg:max-w-[14rem]': menuIsScrolling}" 
                src="{{theme.uri}}/src/images/logo-studio-selini.svg" 
                alt="Logo Studio Selini"
            >
        </a>

        {# Burger #}
        <button class="btn-burger relative z-20 lg:hidden" @click="toggleMenu($el)" aria-label="Open menu" aria-expanded="false" aria-controls="menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" viewBox="0 0 40 16" fill="none">
                <rect width="32" x="8" height="1" :class="[menuOpen ? '-rotate-45 fill-black -translate-y-1.5 origin-right transition-transform duration-300' : 'fill-black origin-right transition-transform duration-300']"></rect>
                <rect y="7" width="40" height="1" :class="[menuOpen ? 'scale-x-0 fill-black origin-center transition-transform duration-300' : 'fill-black origin-center transition-transform duration-300 scale-x-100']"></rect>
                <rect y="14" width="32" x="8" height="1" :class="[menuOpen ? 'rotate-45 fill-black translate-y-2 origin-right transition-transform duration-300' : 'fill-black origin-right transition-transform duration-300']"></rect>
            </svg>
        </button>

        {# Menu #}
        <nav aria-hidden="true" ref="nav" class="fixed top-0 left-full z-10 flex h-dvh overflow-y-auto w-full flex-col gap-6 bg-white p-5 pt-36 text-md transition-all duration-700 ease-smooth lg:bg-transparent lg:relative lg:left-0 lg:h-auto lg:p-0 lg:overflow-visible lg:translate-x-0">
            <div :class="[menuOpen ? 'translate-x-0 opacity-100' : 'translate-x-[20%] opacity-0 lg:translate-x-0 lg:opacity-100']" class="transition-all duration-1000 ease-smooth flex flex-col justify-between h-full lg:flex-row lg:h-auto lg:justify-end lg:gap-8 lg:items-center">
                {# Menu #}
                <ul class="site-header__menu font-sans text-menu-mobile uppercase flex flex-col gap-5 lg:flex-row lg:text-btn lg:gap-8">
                    {% include "partials/menu.twig" with {items: menu.items} %}
                </ul>
                {# BTN Réserver #}
                {% if options.bsport %}
                    <a target="_blank" class="btn-primary uppercase bg-terracotta text-white rounded-full px-8 pt-3.5 pb-3 text-center text-menu-mobile lg:text-btn font-sans relative z-10 overflow-hidden" href="{{options.bsport}}">
                       Réserver
                    </a>
                {% endif %}
            </div>
        </nav>
    </div>
</header>