<div class="bg-terracotta py-4 fixed h-12 sm:h-9 px-4 w-full z-50 flex gap-2 items-center justify-center text-white font-sans text-body-m">
    <p>🌙</p>
    <p class="text-center leading-none">Ouverture du nouveau studio de Pilates Reformer le <strong>13 avril</strong></p>
    <p>🌙</p>
</div>
