<div class="bg-terracotta py-4 fixed h-9 w-full z-50 flex items-center justify-center text-white font-sans text-body-m">
    <p>🚧 Ouverture du nouveau studio de Pilates Reformer le <strong>14 avril</strong> 🚧</p>
</div>
