<div class="bg-terracotta py-4 fixed h-12 sm:h-9 px-4 w-full z-50 flex items-center justify-center text-white font-sans text-body-m">
    <p class="text-center leading-none">🌙 &nbsp; Ouverture du nouveau studio de Pilates Reformer le <strong>13 avril</strong> &nbsp; 🌙</p>
</div>
