<section class="pb-section sm:px-6">
    <div class="bg-[#F0ECEB] sm:bg-none px-4 sm:px-0 sm:rounded-2xl sm:overflow-hidden sm:border border-terracotta border-opacity-10 sm:shadow-[0_20px_40px_0_rgba(27,19,16,0.06)]">
        <script id="insert-bsport-widget-cdn">!function (b, s, p, o, r, t) { !typeof window.BsportWidget !== "undefined" && !document.getElementById("bsport-widget-cdn") && !function () { m = b.createElement(s), m.id = "bsport-widget-cdn", m.src = p, b.getElementsByTagName("head")[0].appendChild(m) }() }(document, "script", "https://cdn.bsport.io/scripts/widget.js")</script>
        <script id="bsport-widget-mount">
            function MountBsportWidget(config, repeat=1) {
                if (repeat > 50) { return }
                if (!window.BsportWidget) {
                    return setTimeout(() => {
                        MountBsportWidget(config,repeat+1)
                    }, 100 * repeat || 1)
                }
                BsportWidget.mount(config)
            }
        </script>
        <script>
            setTimeout(() => {
                MountBsportWidget({
                    "parentElement": "bsport-widget-782246",
                    "companyId": 3087,
                    "franchiseId": null,
                    "dialogMode": 0,
                    "widgetType": "calendar", 
                    "showFab": false,
                    "fullScreenPopup": false,
                    "styles":undefined,
                    "config": {
                        "calendar": {}
                    }  
                })
            }, 1000); 
        </script>
        <div id="bsport-widget-782246"></div>
    </div>
    <div class="text-body-s leading-none mt-2">
        <p><sup>(1)</sup> Vous pouvez payer en 3x sans frais. </p>
        <p><sup>(2)</sup> Il y aura une réduction du nombre de cours pendant les vacances scolaires. </p>
        <p><sup>(3)</sup> Notre studio sera fermé du 15/07 au 01/09.</p>
    </div>
</section>