{% if primary %}
    {% if text and url %}
        <a class="btn-primary uppercase bg-terracotta text-white rounded-full px-8 pt-3.5 pb-3 text-center font-sans text-btn inline-block relative z-10 overflow-hidden" href="{{url}}">
            {{text}}
        </a>
    {% endif %}
{% endif %}


{% if secondary %}
    {% if text and url %}
        <a class="btn-secondary uppercase border border-terracotta text-terracotta rounded-full px-8 pt-3.5 pb-3 text-center font-sans text-btn inline-block relative z-10 overflow-hidden transition-colors duration-300" href="{{url}}">
            {{text}}
        </a>
    {% endif %}
{% endif %}
