<section class="px-6 {{classContainer|default('pb-section')}}">
    <div class="w-full aspect-square rounded-2xl lg:aspect-auto lg:h-[40vw] overflow-hidden" data-parallax data-speed="20" data-scale="1.15">
        {{ function('wp_get_attachment_image', imageID, '2048x2048', false, {'class': class|default('w-full h-full object-cover')}) }}
    </div>
</section>